# Terraform
.terraform/
.terraform.*
terraform.tfstate
terraform.tfstate.*
*.tfstate
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Local tooling
*.log
.DS_Store
modules.json